body {
    line-height: 1.6;
    margin: 0;
    background-position: relative;
    background-repeat: repeat; 
    font-family: "Roboto Slab", serif;
    font-size: 19px;
    background-color: #343a40;;
}

.container{
    color: white;
}

.navbar-brand{
    font-size: 1.8em;
}

.nav{
    background-color: black;
}

.carousel{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 500px;
  padding: 70px;
}